<div id="terminal" class="terminal">
    <div id="output" class="output">
        <div class="line">
            Welcome to <span class="highlight">Layla Alsaady's Resume</span> - type <span class="highlight">help</span> to begin.
        </div>
    </div>

    <div id="input-row">
        <span class="highlight">guest@resume:~$</span>
        <input id="cmdInput" class="cmd-input" autocomplete="off" autofocus />
    </div>
</div>
